{% extends 'page.twig' %}

{# Page title #}
{% block title %}
    {{ record.title }} | Ziekteverzuim
{% endblock title %}

{# Secondary #}
{% block secondary %}
    {% setcontent links = 'blocks/handige-links' %}
    {% setcontent contact = 'blocks/contact-gegevens-ziekteverzuim' %}
    {% setcontent social = 'blocks/volg-ons-op-social-media' %}
    <aside id="" class="widget">
        <h3 class="widget-title">{{ contact.title }}</h3>
        {{- contact.content -}}
    </aside>
    <aside id="" class="widget">
        <h3 class="widget-title">{{ links.title }}</h3>
        {{- links.content -}}
    </aside>
    <aside id="" class="widget">
        <h3 class="widget-title">{{ social.title }}</h3>
        {{- social.content -}}
    </aside>
{% endblock secondary %}